.homeworkTable {
    font-family: "Times New Roman", Times, serif;
    border: 1px solid #FFFFFF;
    width: 500px;
    height: 35px;
    text-align: center;
    border-collapse: collapse;
}
.homeworkTable td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}
.homeworkTable tbody td {
    font-size: 13px;
}
.homeworkTable tr:nth-child(even) {
    background: #D0E4F5;
}
.homeworkTable thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}
.homeworkTable thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
.homeworkTable thead th:first-child {
    border-left: none;
}
